[*.{cs,vb}]

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = for_non_interface_members:none

# CS0169: The field 'Form1.libraryfoldersjson' is never used
dotnet_diagnostic.CS0169.severity = silent
